<%# encoding: utf-8 %>
<% content_for :head, javascript_include_tag(:ad_form) %>

<%= form_for @ad do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :Otsikko, :class => "required" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Kuvaus %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Kuvan_osoite, :class => "required" %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :Hinta, "Hinta yhdelle vuokrauskerralle", :class => "required"  %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :Koko, :class => "required" %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :Väri %><br />
    <%= select("ad", "color", WwwDesign::Application::COLORS, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :Materiaali %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :Kunto, :class => "required" %><br />
   	<%= select("ad", "condition", WwwDesign::Application::CONDITIONS, { :include_blank => true }) %>
  </div>
  
  <div class="field">
  	<%= f.label :Kategoria, :class => "required" %><br />
  	<div style="display: none">
  		<%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => true} %>
		</div>
		<div id="filteredCategories">
	  <% if @ad.category_id? %>  <!-- If editing and category and parts selected-->
	  	
		  	
		  		<select id="category_root" name="root_category">
						<option value="">Valitse Kategoria</option>
						<%= options_from_collection_for_select(Category.roots(:order => "name"), :id, :name, :selected => @ad.category.parent_id ) %>
			  	</select>
			  	
		  		<select id="category_children1" name="category_children1">>
				  	<%= options_from_collection_for_select(Category.siblings_of(@ad.category_id), :id, :name, :selected => @ad.category_id ) %>
			  	</select>
			 
	  	
	  	<% else %> <!-- create new ad -->
		  	<select id="category_root" name="root_category">
					<option value="">Valitse Kategoria</option>
					<%= options_from_collection_for_select(Category.roots(:order => "name"), :id, :name) %>
		  	</select>
	  	
	  		<select id="category_children1" name="category_children1" style="display: none"></select>
		  	
		<% end %>
	  	
  		
  	<div id="parts">
<% if @ad.category_id? %>  		
	<% for part in @ad.category.parts %>
	
	  <%= check_box_tag "ad[part_ids][]", part.id, @ad.parts.include?(part) %>
	  <%= part.name %>
	
	<% end %>
<% end %>

  </div>
	</div>	
 
  </div>
  <div class="actions">
    <%= f.submit "Laita Vuokralle" %>
  </div>
  


<% end %>