<%= form_for current_user.requests.
                          build(:ad_id => @ad.id) do |f| %>
  <div><%= f.hidden_field :ad_id %></div>
  <div> Vuokrauksen alkamispäivä: <%= date_select :request, :start_date %></div>
  <div> Vuokrauksen päättymispäivä: <%= date_select :request, :end_date %></div>
  <div class="actions"><%= f.submit "Request" %></div>
<% end %>