<h1>Create a new Ad</h1>

<%= form_for @ad do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :condition %><br />
    <%= f.text_field :condition %>
  </div>
  <div class="field" style="display: hidden">
  	<%= f.label :category_id %><br />
  	<div style="display: hidden">
  		<%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => true} %>
		</div>
		<div id="filteredCategories">
			<select id="category_root" name="root_category">
				<option value="">Valitse Kategoria</option>
				<%= options_from_collection_for_select(Category.roots(:order => "name"), :id, :name, {:include_blank => true}) %>
	  	</select>
	  	<select id="category_children1" name="category_children1" style="display: none">>
	  	</select>
  		<select id="category_children2" name="category_children2" style="display: none">>
	  	</select>
  	</div>
  	
  	<div id="parts">
  	</div>
	</div>	
 
  </div>
  <div class="actions">
    <%= f.submit "Post ad" %>
  </div>
  


<% end %>