  <div id="xhrflash"></div>
  
  <div id="show_picture">
  		<div class="show_img">
		 	 <a href="<%=@ad.image_url%>"><img src="<%=@ad.image_url%>" alt="<%=@ad.title%>"/></a>
		 	 
		</div>
		
	 	<% unless @ad.available? %>
			<div class="show_img_rented">
				<a class="show_small_img_rented"><img src="/assets/vuokrassa.png" alt="Vuokrassa" width="200" height="200" />
				</a>
			</div>
		<% end %>
 
  </div>
  <div id="show_info" class="gender_solid_background round">
	  <b>Nimi:</b> <%=@ad.title%><br />
	  <b>Vuokra:</b> <%=@ad.price%><br />
	  
	  <% if @ad.size? %>
	  	<b>Koko:</b> <%=@ad.size%><br />
	  <% end %>
	  
	  <% if @ad.color? %>
	  	<b>V채ri:</b> <%=@ad.color%><br />
	  <% end %>
	  
	  <% if @ad.material? %>
	  	<b>Materiaali:</b> <%=@ad.material%><br />
	  <% end %>
	  
	  <% if @ad.condition? %>
	  	<b>Kunto:</b> <%=@ad.condition%><br />
	  <% end %>
	  
	  <% if @ad.category_id? %>
	  <b>Kategoria:</b> <%=@ad.category.name %><br />
	  <% end %>
	  
		<% if !@ad.parts.empty? %>
		  <b>Osat:</b> <br />
		  <% @ad.parts.each do |part| %>
		    <%= part.name %><br />
			<% end %>
		<% end %>
	  
	 <b> Kuvaus:</b> <%=@ad.description%><br />
	  
	  <b>Tila:</b><div id="available">
	  <% if @ad.available %>
	    Vuokrattavissa<br />
	  <% else %>
	    Parhaillaan vuokrassa<br />
	  <% end %>
	  </div>
	  <b>Omistaja:</b> <%=@ad.user.name%>
	  <% if current_user?(@ad.user) %>
	    <div id="toggle" class=" button round">
	        <% if @ad.available %>
	    	  <%= link_to("Merkitse varatuksi",  toggle_path(:id => @ad.id), :method => :post, :remote => true) %>
	        <% else %>
	          <%= link_to("Merkitse vapaaksi",  toggle_path(:id => @ad.id), :method => :post, :remote => true) %>
	        <% end %>
	    </div>
	     <div id="edit_button" class="button round">
	    	<%= link_to "Muokkaa", edit_ad_path(@ad) %>
	    	
	    </div>
	  <% end %>
	 
	  <% if signed_in? %>
	    <% unless current_user?(@ad.user) %>
	      <% unless current_user.requested?(@ad.id) %>
	        <div id="request_button" class="button round">
	          <%= link_to "Pyyd채 vuokralle", @ad,  :remote => true %>
	      </div>
	      <% else %>
	        <p>Olet ilmoittanut olevasi kiinnostunut t채st채 ilmoituksesta.</p> 
	       		<div id="unreguest_button">
						<%= render 'unrequest' %>
				</div>	
	      <% end %>
	    <% end %>
	    <%= render 'show_requests' if current_user?(@ad.user) %>
	  <% end %>
  </div>
