  <div id="xhrflash"></div>
  <img src="<%=@ad.image_url%>" alt="Ad" /><br />
  Nimi: <%=@ad.title%><br />
  Vuokra: <%=@ad.price%><br />
  
  <% if @ad.size? %>
  	Koko: <%=@ad.size%><br />
  <% end %>
  
  <% if @ad.color? %>
  	Väri: <%=@ad.color%><br />
  <% end %>
  
  <% if @ad.material? %>
  	Materiaali: <%=@ad.material%><br />
  <% end %>
  
  <% if @ad.condition? %>
  	Kunto: <%=@ad.condition%><br />
  <% end %>
  
  <% if @ad.category_id? %>
  Kategoria: <%=@ad.category.name %><br />
  <% end %>
  
	<% if !@ad.parts.empty? %>
	  Osat: <br />
	  <% @ad.parts.each do |part| %>
	    <%= part.name %><br />
		<% end %>
	<% end %>
  
  Kuvaus: <%=@ad.description%><br />
  
  Tila:<div id="available">
  <% if @ad.available %>
    Vapaa / Vuokrattavissa<br />
  <% else %>
    Parhaillaan vuokrassa<br />
  <% end %>
  </div>
  Omistaja: <%=@ad.user.name%>
  <% if current_user?(@ad.user) %>
    <div>
    	<%= link_to("Toggle available",  toggle_path(:id => @ad.id), :method => :post, :remote => true) %>
    </div>
    	<%= link_to "Edit", edit_ad_path(@ad) %>
    <div>
    	
    </div>
  <% end %>
  <br />
  <%= render 'request_form' if signed_in? %>
  <%= render 'show_requests' if current_user?(@ad.user) %>
