<p><%= @request.sender.name %> is interested in your ad <%= @request.ad.title %></p>

<p>Details:</p>
<p>Name: <%= @request.sender.name %></p>
<p>Email: <%= @request.sender.email %></p>
<p>Start Date: <% if @request.start_date %> <%= @request.start_date.strftime("%d/%m/%Y") %><% else %> No time speficied.<% end %></p>
<p>End Date: <% if @request.end_date %> <%= @request.end_date.strftime("%d/%m/%Y") %><% else %> No time speficied.<% end %></p>

<p><%= link_to "Check the site", ad_url(@request.ad) %></p>