<%= form_for @category do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, Category.all(:order => "name"), :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.select :part_ids, Part.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
	</div>
  <div class="actions">
    <%= f.submit "Tallenna kategoria" %>
  </div>
<% end %>