<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>

    <%= yield :head %>

    <% if cookies.signed[:gender] && cookies.signed[:gender] == "Naiset" %> 
    	<%= stylesheet_link_tag "Naiset", :id => "switch_style" %>
    <% else %>
    	<%= stylesheet_link_tag "Miehet", :id => "switch_style" %>
    <% end %>
    
  </head>
  
  <body>
    <div class="container">
    	<%= link_to logo, root_path, :id => "logo" %>
		
    	<% unless signed_in? %>
    		<div class="login_section">    	
    		<a class="signin_button round" href="/signin">Kirjaudu sisään!</a>		
					<p>Uusi käyttäjä? <strong><%= link_to "Rekisteröidy!", signup_path %></strong></p>
			</div>
		<% end %>
	
      <ul id="gender_tab">
		    <li id="Miehet" class="trans_bg 
		    	<% if cookies.signed[:gender] && cookies.signed[:gender] == "Miehet" %> 
  						selected
    			<% end %>
    			">Miehet
    		</li> 
		    <li id="Naiset" class="trans_bg
		    	<% if cookies.signed[:gender] && cookies.signed[:gender] == "Naiset" %> 
  						selected
    			<% end %>		    	
			    ">Naiset
		    </li> 
		  </ul> 
      
      <%= render 'layouts/header' %>
      
      <section class="round trans_bg">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      
  <!--    <%= render 'layouts/footer' %>	-->
      <%= debug(params) if Rails.env.development? %>
	     
    </div>
  </body>
</html>
