<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :common %>
    

    <% if cookies.signed[:gender] && cookies.signed[:gender] == "Naiset" %> 
    	<%= stylesheet_link_tag "gender_female", :id => "switch_style" %>
    <% else %>
    	<%= stylesheet_link_tag "gender_male", :id => "switch_style" %>
    <% end %>
    
    <!--fix this -->
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" %>
  </head>
  <body>
    <div class="container">
    	<%= link_to logo, root_path %>
    	
      <ul id="gender_tab">
		    <li id="gender_male" class="trans_bg 
		    	<% if cookies.signed[:gender] && cookies.signed[:gender] == "Miehet" %> 
  						selected
    			<% end %>
    			">
    			<%= link_to "Miehet", "/gender/Miehet", :remote => true %>
    		</li> 
		    <li id="gender_female" class="trans_bg
		    	<% if cookies.signed[:gender] && cookies.signed[:gender] == "Naiset" %> 
  						selected
    			<% end %>		    	
			    ">
			    <%= link_to "Naiset", "/gender/Naiset", :remote => true %>
		    </li> 
		  </ul> 
      
      <%= render 'layouts/header' %>
      
      <section class="round trans_bg">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
	     
    </div>
  </body>
</html>
